.UploadFile {
    text-align: center;
    font-size: 3vh;

  }
#choose{
  font-size: 3vh;
}
#choose::file-selector-button {
  border: none;
  overflow: hidden;
  background-color: black;
  border-radius: 30px;
  padding: 2vh 3vw;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;

  color: white;
  font-size: 3vh;
  text-decoration: none;
}

#btn-upload{
  border: none;
  overflow: hidden;
  background-color: black;
  border-radius: 30px;
  padding: 2vh 3vw;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;

  color: white;
  font-size: 3vh;
  text-decoration: none;
}